[submodule "SD"]
	path = SD
	url = https://github.com/qnimble/SD.git
[submodule "SPI"]
	path = SPI
	url = https://github.com/qnimble/SPI.git
[submodule "SdFat"]
	path = SdFat
	url = https://github.com/qnimble/SdFat.git
[submodule "Time"]
	path = Time
	url = https://github.com/qnimble/Time.git
[submodule "RTClib"]
	path = RTClib
	url = https://github.com/qnimble/RTClib.git
